body,
html {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
body {
  background-image: url("../img/background-day-modified.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.header {
  text-align: center;
  padding-top: 30px;
}
.header .amit {
  font-family: "Roboto Slab", "Roboto", sans-serif;
  font-weight: bold;
  text-shadow: 0px 2px 1px black;
  margin-bottom: 0;
}
.header .subtitle {
  font-family: "Roboto Slab", "Roboto", sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 15px;
}
.header .social-media a {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
}
.header .social-media a i {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  color: #bbdefb;
}
.header .social-media a i:hover {
  color: #e3f2fd;
}
.header .social-media a:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}
.header .social-media .fa {
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}
.credit {
  display: inline-block;
  font-family: sans-serif;
  position: absolute;
  bottom: 0;
  right: 0;
  font-style: italic;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
}
.hidden {
  visibility: hidden;
}
