html, body {
	
	min-height: 100%;
}

body {
	
	background: url(img/background.png);
	background-repeat: repeat;
	background-size: cover;
	text-align: center;
}

.appIcon {
	
	background: url(img/CalcIcon.png);
	height: 300px;
	width: 300px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin: auto;
	display: inline-block;
		
}

.theTitle {
	
	text-align: center;
	width: 100%;
	height: 100%;
	color: #052653;
	font-family: 'Open Sans', sans-serif;
	font-size: 55px;
	padding: 0px;
	margin: 0;
}

.appDescription {
	
	text-align: center;
	width: 100%;
	height: 100%;
	color: #052653;
	margin: auto;
	top: 100px;
	bottom: 100px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	-webkit-transition: opacity 1s ease-in-out 0s;
	
	
}

.appstore {
	
	background: url(img/appstore.jpg);
	height: 150px;
	width: 150px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin: auto;
	display: inline-block;
}
