body {
  text-align: center;
  font-family: “San Francisco“;
  color: rgba(0, 0, 0, 0.4);
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-weight: 400; }

ul {
  list-style-type: none; }

li {
  display: inline; }

.structure {
  margin-top: 100px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto; }

.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://Avatar.jpg) no-repeat;
	}
h1 {
  padding-top: 10px;
  font-size: 300%; }

.description {
  padding-bottom: 30px;
  padding-top: 20px;
  font-size: 20px; }

.fa {
  margin: 20px; }

.hidden {
  display: none; }

a {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  font-weight: 700; }

a:hover {
  color: #55acee;
  text-decoration: none; }

.snapchat:hover {
  color: yellow; }

.github:hover {
  color: black; }

.facebook:hover {
  color: blue; }

.twitter:hover {
  color: #55acee; }

.instagram:hover {
  color: #517fa4; }

.youtube:hover {
  color: red;}

@media (max-width: 320px) {
  html,
  body {
    line-height: 38px;
    font-size: 21px;
    display: block; }
    background-image: url(“DubaiBlur.jpg”);

  .fa {
    margin: 5px; } }
@media (max-device-width: 720px) {
  h1 {
    font-size: 200%;
    padding-top: 0px; }

  .description {
    font-size: 125%;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 320px;
    margin: auto; }

  .structure {
    margin-top: 40px; }

  .profile {
    height: 100px;
    width: 100px;
    background-size: 100px 100px;
    margin-bottom: 0px; }

  .fa {
    margin: 15px; } }