body,
html {
	
	min-height: 100%;
}

body {

  background-image: url(img/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.appIcon {

			background: url(img/Calc.png) no-repeat;
			width: 100px;
			height: 100px;
			margin: auto;
			background-size: 100%;
	
}

.appName {
	
	text-align: center;
	width: 100%;
	max-height: 960px;
	font:2em "San Francisco", thin;
	text-shadow: 1px 1px 0 rgba(0,0,0,.2);
	margin: 40px auto;
	color: white;
	font-family: 'Lato', sans-serif;
	
}

.myDescription {

	text-align: center;
	color: white;
	font-family: 'Lato', sans-serif;
}
