body,
html {
	
	min-height: 100%;
}

body {

  background: url(img/background-day-modified.jpg);
  background-repeat: repeat;
  background-size: cover;
}

.Info {
	
	text-align: right;
	color: white;
}

.myPost {

	text-align: center;
	color: white;
}

a:link {
	
	color: white;
}

a:hover {
	
	color: blue;
}


	