body,
html {
	
	min-height: 100%;
}

body {

  background-image: url(img/DubaiBlur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.profilePicture {
	border-radius: 150px;
			-webkit-border-radius: 150px;
			-moz-border-radius: 150px;
			background: url(img/Avatar.png) no-repeat;
	width: 210px;
	height: 210px;
	-moz-box-shadow: 0 0 1px #7992ce;
	box-shadow: 0 0 1px #7992ce;
	margin: auto;
}

.myName {
	
	text-align: center;
	width: 100%;
	max-height: 960px;
	font:2em "San Francisco", thin;
	text-shadow: 1px 1px 0 rgba(0,0,0,.2);
	margin: 40px auto;
	color: white;
	font-family: 'Lato', sans-serif;
	
}

.myDescription {

	text-align: center;
	color: white;
	font-family: 'Lato', sans-serif;

}

.Email {
	
	text-align: center;
	color: white;
	font-family: 'Lato', sans-serif;
	
}


.Twitter {

	width: 50px;
		height: 50px;
		background: url(img/Twitter.png) no-repeat;
		margin: auto;
}

.Facebook {
	
	width: 25px;
		height: 25px;
		background: url(img/Facebook.jpeg) no-repeat;
		margin: auto;
	
}

.Instagram {
	
	width: 25px;
		height: 25px;
		background: url(img/Instagram.png) no-repeat;
		margin: auto;
}

.YouTube {
	
	width: 25px;
		height: 25px;
		background: url(img/YouTube.png) no-repeat;
		margin: auto;
}

.VSCO {
	
	width: 25px;
		height: 25px;
		background: url(img/VSCO.png) no-repeat;
		margin: auto;
	
}

.Github {
	
	width: 25px;
		height: 25px;
		background: url(img/Github.png) no-repeat;
		margin: auto;
	
}